name: Build, deploy dev, draft main

on:
  push:
    branches:
      - main
      - master

jobs:
  build:
    permissions:
      contents: write
      packages: write
      pull-requests: write
      id-token: write
    uses: navikt/dok-workflows/.github/workflows/build-deploy-main-gar.yml@main
    secrets: inherit
    # Fjern 'java-version' for å bruke versjon i <java.version> fra pom.xml
    # Fjern 'nav-cluster' for å defaulte til 'dev-fss'
    # Fjern 'should-byosbom' for å defaulte til bruk av Trivy (flat avhengigheitsgraf)
    with:
      java-version: '21'
      nav-cluster: 'dev-gcp'
      should-byosbom: true
