name: Build, deploy dev feature

on:
  push:
    branches-ignore:
      - main
      - master

jobs:
  build:
    permissions:
      contents: read
      packages: write
      id-token: write
    uses: navikt/dok-workflows/.github/workflows/build-deploy-feature-gar.yml@main
    secrets: inherit
    # Fjern 'java-version' for å bruke versjon i <java.version> fra pom.xml
    # Fjern 'nav-cluster' for å defaulte til 'dev-fss'
    with:
      java-version: '21'
      nav-cluster: 'dev-gcp'