name: Build, deploy feature

on:
  workflow_call:
    inputs:
      java-version:
        required: false
        type: string
        description: Java version to build with
        default: ''
      setup-latest-nodejs:
        required: false
        type: boolean
        description: Run setup-node step
        default: false
      nav-cluster:
        required: false
        type: string
        description: Nais cluster in dev to deploy to
        default: 'dev-fss'

jobs:
  build-feature:
    uses: navikt/dok-workflows/.github/workflows/build-app-gar.yml@main
    secrets: inherit
    with:
      setup-latest-nodejs: ${{ inputs.setup-latest-nodejs }}
  deploy-feature:
    if: ${{ github.actor != 'dependabot[bot]' }}
    uses: navikt/dok-workflows/.github/workflows/deploy-all-dev-gar.yml@main
    needs: build-feature
    secrets: inherit
    with:
      image: ${{ needs.build-feature.outputs.image }}
      nav-cluster: ${{ inputs.nav-cluster }}
