name: Release draft

on:
  workflow_call:
    inputs:
      build-tag:
        required: true
        type: string

jobs:
  create-release-draft:
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: release-drafter/release-drafter@6db134d15f3909ccc9eefd369f02bd1e9cffdf97 # 6.2.0
        with:
          tag: ${{ inputs.build-tag }}
          name: ${{ inputs.build-tag }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
